<div class="panel">
    <div class="col-md-3 col-xd-3 left">
      <mat-action-list>
        <button class="font-design" [class.passive]="!personalDetails" style="margin-bottom:10px;height: 30%;color: white;background-color: rgba(82, 224, 105, 0.527);border-radius: 10%;" mat-list-item (click)="details('personal')"> Personal </button>
        <button class="font-design" [class.passive]="!bookingsDetails" style="margin-bottom:10px;height: 30%;color: white;background-color: rgba(214, 120, 76, 0.575);border-radius: 10%;" mat-list-item (click)="details('all-bookings')"> All Bookings </button>
        <button class="font-design" [class.passive]="!edit" style="margin-bottom:10px;height: 30%;color: white;background-color: rgba(114, 169, 221, 0.521);border-radius: 10%;" mat-list-item (click)="details('edit')"> More </button>
      </mat-action-list>
    </div>
    <div class="col-md-9 col-xd-3 right" *ngIf="profile">
      <mat-action-list>
        <div *ngIf="personalDetails" class="personalDetails right-details row ">
          <div class="col-md-8">
            <mat-card class="example-card">
              <img *ngIf="seekerDetails.data.image; else elseBlock"  mat-card-image src="{{'data:image/jpg;base64,' + seekerDetails.data.image}}">
              <ng-template #elseBlock>
                <img mat-card-image src="../../assets/images/user no image/noPhotoAvailable.jpg">
              </ng-template>
            </mat-card>
          </div>
          <div >
            <div style="display: grid;">
              <label class="font-design contact-design" ><b class="personalData"> NAME : </b>{{seekerDetails.data.name | titlecase}}</label>
              <label class="font-design contact-design" ><b class="personalData"> GENDER : </b>{{seekerDetails.data.gender | titlecase}}</label>
              <label class="font-design contact-design" ><b class="personalData"> DOB : </b>{{seekerDetails.data.dob | date:'fullDate'}}</label>
              <label class="font-design contact-design" ><b class="personalData"> EMAIL : </b>{{seekerDetails.data.username }}</label>
            </div> 
          </div> 
        </div>  
        <div *ngIf="bookingsDetails" class="bookingsDetails right-details row">
          <div class="col-md-5 booking-dates">
            <strong >APPOINTMENT DATES</strong> 
            <div class="table-responsive ">
              <table class="table table-hover table-sm">
                <tbody>
                  <tr *ngFor="let booking of seekerDetails.data.bookings" (click)="appointmentDetails(booking.SeekerId, booking.AvailabilityId)">
                    <td>{{booking.Date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col">
            <strong  ><u>APPOINTMENT DETAILS</u></strong> 
            <div *ngIf="counselorFetch" class="appointment-tab" >
              <img  class="img-fluid seeker-image" *ngIf="contactDetails.data.clientImage; else elseBlock" src="{{'data:image/jpg;base64,' + contactDetails.data.clientImage}}"  >
              <ng-template #elseBlock>
                  <img class="img-fluid seeker-image" src="../../assets/images/user no image/noPhotoAvailable.jpg">
              </ng-template>
              <div class="appointment-details">
                <small ><b class="client-details" >CLIENT NAME : </b>{{contactDetails.data.clientName | titlecase}}</small><br>
                <small ><b class="client-details" >CLIENT GENDER : </b>{{contactDetails.data.clientGender | titlecase}}</small><br>
                <small ><b class="client-details" >CLIENT EMAIL : </b>{{contactDetails.data.clientEmail | titlecase}}</small><br>
                <small ><b class="client-details" >CLIENT PHONE NUMBER : </b>{{contactDetails.data.clientPhone | titlecase}}</small><br>
                <small ><b class="client-details" >COUNSELING TYPE : </b>{{contactDetails.data.clientType | titlecase}}</small><br>
                <small ><b class="client-details" >COUNSELING LOCATION : </b>{{contactDetails.data.clientLocation | titlecase}}</small><br>
                <small ><b class="client-details" >COUNSELING TIME : </b>{{contactDetails.data.clientTime | uppercase}}</small><br>
              </div>
            </div>
          </div>
        </div>  
        <div *ngIf="edit" class="edit right-details row">
          <div class="col-md-7">
            <label class="font-design contact" ><u>CONATCT DETAILS</u></label>
            <div *ngIf="seekerDetails.data.contact; else elseBlock">
              <label class="font-design " >STREET NAME : {{seekerDetails.data.contact.streetName | titlecase}}</label>
              <label class="font-design ">STATE : {{ seekerDetails.data.contact.state | titlecase }}</label>
              <label class="font-design " >DISTRICT : {{ seekerDetails.data.contact.district | titlecase }}</label>
              <label class="font-design " >PIN : {{ seekerDetails.data.contact.pin | titlecase }}</label>
              <label class="font-design " >PHONE  : {{ seekerDetails.data.contact.phone | titlecase }}</label>
            </div>
            <ng-template #elseBlock>
              <label class="font-design">Please fill your contact details</label>
            </ng-template>
          </div>
          <div class="col-md-5 actions">
            <button mat-raised-button color="primary" class="btn">UPLOAD VIDOES</button>
            <button mat-raised-button color="accent" class="btn" (click)="dialogOpen()">UPDATE DETAILS</button>
            <button mat-raised-button color="warn" (click)="deleteAccount()" class="btn" >DELETE ACCOUNT</button>
          </div>
        </div>
      </mat-action-list>
    </div>
</div>
