<div class="body row">
  
  <div class="input-group mb-3 " >
    <input  type="text" (keyup)="myFilter($event.target.value)" class="form-control search-bar">
    <div class="input-group-append">
      <span class="input-group-text"><mat-icon matTooltip="Enter counseling criteria" type="button"  matSuffix >search</mat-icon></span>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3" [class.blur]='blurBackground'>
    <div class="col mb-4" *ngFor="let counselor of filteredCounselors" style="padding: 4% 4%;">
      <div class="card">
        <img *ngIf="counselor.image; else elseBlock"  src="{{'data:image/jpg;base64,' + counselor.image}}" class="card-img-top img-fluid">
        <ng-template #elseBlock>
          <img  src="../../assets/images/user no image/noPhotoAvailable.jpg" class="card-img-top img-fluid">
        </ng-template>
        
        <div class="card-body">
          <strong class="card-title">{{counselor.name | titlecase}}</strong>
          <div class="skills">
            <small>Specialized : <br></small>
            <span *ngFor="let category of counselor.availability" >
              <small>{{category.Type | titlecase}} &nbsp;</small>
            </span>
          </div>
          <div class="actions">
            <button class="booking-button btn btn-primary" (click)="openDialog(counselor)">TAKE APPOINTMENT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

