.login{
    position: absolute;
    top: 25%;
    left: 37%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 0;
}

.form {
    margin: 9% 0%;
}

.login-header {
    color: white;
    line-height: 369%;
    background-color: #D81B60;
    height: 12vh;
    font-size: 1.7vw;
    font-weight: 500;
}

.button-area {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.card {
    box-shadow:  12px 15px 0px 0px #4d4545;
    text-align: center;
    border-radius: 0px;
}
.centered{
    text-align: center;   
}

/* 
button:hover {
    background-color: rgb(103, 58, 183);
    color: white;
} */

.container{
    margin-top: 20px;
}

.register {
    color: white;
    line-height: 5vh;
    background-color: #D81B60;
    min-height: 5vh;
    width: 100%;
    max-height: fit-content;
    margin-top: 12%;
    font-size: 11px;
}
 .register :hover {
     cursor: pointer;
 }

.error-message {
    text-align: left;
    color: red;
}

.font-design {
    width: 85%;
    font-size: 1.28vw;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    /* position:relative;
    top:0%;
    left:0%; */
    /* height:91%; */
    width:80%;
    margin-left: auto;
    margin-right: auto;
}