<div class="panel">
    <div class="col-md-3 col-xd-3 left">
      <mat-action-list>
        <button class="" style="margin-bottom:10px;height: 11%;color: white;" mat-list-item (click)="details('personal')"> Personal </button>
        <button class="" style="margin-bottom:10px;height: 11%;color: white;" mat-list-item (click)="details('all-bookings')"> Bookings </button>
        <button class="" style="margin-bottom:10px;height: 11%;color: white;" mat-list-item (click)="details('edit')"> Availabilities </button>
        <div>
          <div class="example-button-container">
            <button mat-mini-fab color="primary" (click)="getFIle()" aria-label="Example icon button with a menu icon">
              <mat-icon>create_new_folder</mat-icon>
            </button>
            <input type="file"  id="uploadBtn" style="display: none;" accept="video" (change)=onFileChanged($event)/>
            <input type="text" class="form-control title" [(ngModel)]="titleValue" placeholder="Enter Media Title" name="title" (keyup)="checkLength($event)" >
          </div>
          <div class="error-message" *ngIf="fileTypeError">
            {{ fileTypeErrorMessage }}
          </div>
          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!fileSelectionComplete || fileTypeError" class="btn upload-btn">UPLOAD FILE</button>
        </div>
        <mat-progress-bar [hidden]="!progressBarDisplay" mode='determinate' [value]="percentageDone" style="margin: 20px 0px;width: auto;" id="progressBar"></mat-progress-bar>
        
      </mat-action-list>
      
    </div>
    <div class="col-md-9 col-xd-3 right" *ngIf="profile">
      <mat-action-list>
        <div *ngIf="personalDetails" class="details right-details row ">
          <div class="col-md-6">
            <mat-card class="example-card">
              <img *ngIf="counselorDetails.data.image; else elseBlock" class="profile-image"  mat-card-image src={{counselorDetails.data.image}}>
              <ng-template #elseBlock>
                <img mat-card-image class="profile-image" src="../../assets/images/user no image/noPhotoAvailable.jpg">
              </ng-template>
            </mat-card>
          </div>
          <div class="col data">
            <div style="display: grid;">
              <label class=" contact-design" ><b class="personalData"> NAME : </b>{{counselorDetails.data.name | titlecase}}</label>
              <label class=" contact-design" ><b class="personalData"> GENDER : </b>{{counselorDetails.data.gender | titlecase}}</label>
              <label class=" contact-design" ><b class="personalData"> DOB : </b>{{counselorDetails.data.dob | date:'fullDate'}}</label>
              <label class=" contact-design" ><b class="personalData"> EMAIL : </b>{{counselorDetails.data.username }}</label>
              <div *ngIf="counselorDetails.data.contact" style="display: grid;">
                <label class=" contact-design" ><b class="personalData"> STREET NAME : </b>{{counselorDetails.data.contact.streetName | titlecase}}</label>
                <label class=" contact-design" ><b class="personalData"> STATE : </b>{{ counselorDetails.data.contact.state | titlecase }}</label>
                <label class=" contact-design" ><b class="personalData"> DISTRICT : </b>{{ counselorDetails.data.contact.district | titlecase }}</label>
                <label class=" contact-design" ><b class="personalData"> PIN : </b>{{ counselorDetails.data.contact.pin | titlecase }}</label>
                <label class=" contact-design" ><b class="personalData"> PHONE  : </b>{{ counselorDetails.data.contact.phone | titlecase }}</label>
              </div>
            </div>
            
          </div>
          <div class="profile-btn-container">
            <button  class="btn profile-btn" (click)="dialogOpen()">UPDATE DETAILS</button>
            <button  class="btn profile-btn" (click)="deleteAccount()"  >DELETE ACCOUNT</button>
          </div>
        </div>  
        <div *ngIf="bookingsDetails" class="details right-details row">
          <div class="col-md-5 ">
            <strong >APPOINTMENT DATES</strong> 
            <div class="table-responsive ">
              <table class="table table-hover table-sm">
                <tbody>
                  <tr *ngFor="let booking of counselorDetails.data.bookings" (click)="appointmentDetails(booking.SeekerId, booking.AvailabilityId)">
                    <td>{{booking.Date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col booking-dates">
            <strong><u>APPOINTMENT DETAILS</u></strong> 
            <div *ngIf="seekerFetch" class="appointment-tab" >
              <img  class="img-fluid seeker-image" *ngIf="seekerDetails.data.image; else elseBlock" src={{seekerDetails.data.image}} >
              <ng-template #elseBlock>
                  <img class="img-fluid seeker-image" src="../../assets/images/user no image/noPhotoAvailable.jpg">
              </ng-template>
              <div class="appointment-details">
                <small ><b class="client-details" >CLIENT NAME : </b>{{seekerDetails.data.clientName | titlecase}}</small><br>
                <small ><b class="client-details" >CLIENT GENDER : </b>{{seekerDetails.data.clientGender | titlecase}}</small><br>
                <small ><b class="client-details" >CLIENT EMAIL : </b>{{seekerDetails.data.clientEmail | titlecase}}</small><br>
                <small ><b class="client-details" >CLIENT PHONE NUMBER : </b>{{seekerDetails.data.clientPhone | titlecase}}</small><br>
                <small ><b class="client-details" >COUNSELING TYPE : </b>{{appointmentType.Type | titlecase}}</small><br>
                <small ><b class="client-details" >COUNSELING LOCATION : </b>{{appointmentType.Location | titlecase}}</small><br>
              </div>
            </div>
          </div>
        </div>  
        <div *ngIf="edit" class="details right-details"> 
          <div class="avail-header">
            <div>
              <label>AVAILABILITIES</label>
            </div>
            <span class="fill-remaining-space"></span>
            <mat-icon matTooltip="Add new availability" (click)="addAvailability()">add</mat-icon>              
          </div>
          <div class="table-responsive avail-table">
            <table class="table table-hover table-bordered table-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">DAYS</th>
                  <th scope="col">TYPE</th>
                  <th scope="col">LOCATION</th>
                  <th scope="col">TIME</th>
                  <th scope="col">ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let avail of counselorDetails.data.availability">
                  <td ><label *ngFor="let day of avail.Day">{{day}}&nbsp; </label></td>
                  <td>{{avail.Type}}</td>
                  <td>{{avail.Location}}</td>
                  <td>{{avail.Time}}</td>
                  <td><mat-icon (click)="editAvailability(avail)">edit</mat-icon><mat-icon (click)="deleteAvailability(avail.Id)">delete</mat-icon></td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>  
      </mat-action-list>
    </div>
</div>
