.panel {
    position:relative;
    top:0%;
    left:0%;
    height:91%;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(103, 58, 183, 0.32);
    
}

.body {
    position:absolute;
}